LES-Standardized-Functions/Missions/StandardMissions.json
[
    {
        "id": "ec647d80404f37ec",
        "type": "subflow",
        "name": "Mission Drop Finish",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 140,
                "wires": [
                    {
                        "id": "e5170b5e57286d6d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3c0b54e857e4bf23",
        "type": "http request",
        "z": "ec647d80404f37ec",
        "name": "Send Request to RCS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.203.207.85:10081/mission/HostID03/append",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "70f1b9fb3ba0a8a3"
            ]
        ]
    },
    {
        "id": "70f1b9fb3ba0a8a3",
        "type": "debug",
        "z": "ec647d80404f37ec",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "e5170b5e57286d6d",
        "type": "function",
        "z": "ec647d80404f37ec",
        "name": "Message Body",
        "func": "\n// Create the payload object\nconst payload =\n[\n  {\n    \"DeviceId\": \"CARRIER_1\",\n    \"LoadTypeId\": \"EURO\",\n    \"LocationStationId\": \"KiKiwx\",\n    \"Sequence\": 0,\n    \"TaskHostId\": \"Drop03\",\n    \"TaskType\": \"Drop\"\n  },\n  {\n    \"DeviceId\": \"CARRIER_1\",\n    \"LoadTypeId\": \"EURO\",\n    \"LocationStationId\": \"KiKiwx\",\n    \"Sequence\": 1,\n    \"TaskHostId\": \"Finish03\",\n    \"TaskType\": \"Finish\"\n  }\n];\n \n// Set the payload\nmsg.payload = payload;\n \n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "3c0b54e857e4bf23"
            ]
        ]
    },
    {
        "id": "ba02886184378a9d",
        "type": "comment",
        "z": "ec647d80404f37ec",
        "name": "Drop finish",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "6faeab7f0546ea01",
        "type": "subflow",
        "name": "Mission Pick Wait",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 200,
                "wires": [
                    {
                        "id": "5c3d46afcb38aa62"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6894b513c1b32eb8",
        "type": "http request",
        "z": "6faeab7f0546ea01",
        "name": "Send Request to RCS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.203.207.85:10081/mission",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "56441fb7d95c0cc8"
            ]
        ]
    },
    {
        "id": "56441fb7d95c0cc8",
        "type": "debug",
        "z": "6faeab7f0546ea01",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c3d46afcb38aa62",
        "type": "function",
        "z": "6faeab7f0546ea01",
        "name": "Message Body",
        "func": "\n// Create the payload object\nconst payload =\n{\n        \"MissionHostId\": \"HostID03\",\n        \"Priority\": 0,\n        \"Tasks\": [\n                {\n                        \"DeviceId\": \"CARRIER_1\",\n                        \"LoadTypeId\": \"EURO\",\n                        \"LocationStationId\": \"KiKiwx\",\n                        \"Sequence\": 0,\n                        \"TaskHostId\": \"Pick03\",\n                        \"TaskType\": \"Pick\"\n                },\n                {\n                        \"DeviceId\": \"CARRIER_1\",\n                        \"LoadTypeId\": \"EURO\",\n                        \"LocationStationId\": \"KiKiwx\",\n                        \"Sequence\": 1,\n                        \"TaskHostId\": \"Wait03\",\n                        \"TaskType\": \"Wait\"\n                }\n        ]\n};\n \n// Set the payload\nmsg.payload = payload;\n \n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "6894b513c1b32eb8"
            ]
        ]
    },
    {
        "id": "e37151b50161353f",
        "type": "comment",
        "z": "6faeab7f0546ea01",
        "name": "Pick wait",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "2bec743ed210214e",
        "type": "tab",
        "label": "2.9.1 - Missions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "468b907f7f9f288e",
        "type": "subflow:6faeab7f0546ea01",
        "z": "2bec743ed210214e",
        "name": "",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "d73f4b7d10757383",
        "type": "subflow:ec647d80404f37ec",
        "z": "2bec743ed210214e",
        "name": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "7e68f645b28cd8fd",
        "type": "inject",
        "z": "2bec743ed210214e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "468b907f7f9f288e"
            ]
        ]
    },
    {
        "id": "ee05e0b86214b873",
        "type": "inject",
        "z": "2bec743ed210214e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "d73f4b7d10757383"
            ]
        ]
    }
]